<!DOCTYPE html>
<html>
<head>
  <title>Kelp</title>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

<!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"> -->
  <!-- <link rel="stylesheet" href="http://code.divshot.com/geo-bootstrap/swatch/bootstrap.min.css"> -->

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCnMWYeyaGqOhnR7ciVdD87D44joQ_bULg"%>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<%= yield %>

</body>
</html>
